*{
 margin: 0px;
 padding: 0px;
}

html {
    background: linear-gradient(20deg, #0f141c, #ffffff 200%);
    color: white;
}

.inline {
    display: inline-block;
}

main {
    font-family: Anybody;
    max-width: 100vw;
    margin-left: 15rem;
    margin-right: 15rem;
    background: linear-gradient(20deg, #ffffff -200%, #0f141c);
    border-radius: 20px;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    padding: 10px;
}

.top1, .top2 {
    border-bottom: 1px solid #a6a6a6;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.top1 a {
    color: #99d6ea;
}

.top1 p {
    padding: 5px;
    margin: 5px;
}

.top1 p:last-of-type {
    border-right: none;
}

.percent {
    color: #2dc653;
}

form{
    padding: 5px;
    margin: 10px;
}

select {
    color: #99d6ea;;
    background: transparent;
    border: none;
    border-bottom: 1px solid #a6a6a6;
}

.top1-left {
    margin-top: 5px;
}

.top1-right 
{   
    float: right;
}

.logo {
    font-family: Contrail One;
    margin-right: 10px;
}

.top2 p {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 16px;
}